<div ng-controller="DashboardController">
	<h3>The Message Board</h3>
	<button ng-click="logout()"></button>
	<hr>
	<div id="container">
		<form>
			Name:<br>
			<input type="text" ng-model="newMessage.name" placeholder="name"><br>
			Message:<br>
			<input type="text" ng-model="newMessage.message" placeholder="message"><br>
			<input type="submit" ng-click="addMessage()">
		</form>
		<div class="message" ng-repeat="message in messages">
			<h4 class="border">Name:</h4> 
			<p>{{message.name}}</p>
			<h4 class="border">Message:</h4>
			<p>{{message.message}}</p>
			<a href="#/edit/{{message._id}}" class="edit_link">Edit Message</a>
			<hr>
			<form class="comment_form">
				Name:<br>
				<input type="text" placeholder="Name" ng-model="comment.name">
				<br>
				Comment:<br>
				<input type="text" placeholder="Comment" ng-model="comment.comment">
				<br>
				<input type="submit" ng-click="addComment(comment, message._id)">
			</form>
			<br>
			<div ng-repeat="comment in message.comments">
				<h3>{{comment.name}}</h3>
				<h3>{{comment.comment}}</h3>
			</div>
		</div>
	</div>
</div>



	<!-- <form>
		<input type="text" ng-model="newCustomer.name">
		<input type="submit" value="Add" ng-click="saveCustomer()">
	</form>
 -->
