<script>
        $(document).ready(function() {
            $('#slideshow > div:gt(0)').hide();
           
            setInterval(function() { 
                $('#slideshow > div:first')
                    .fadeOut(1000)
                    .next()
                    .fadeIn(1000)
                    .end()
                    .appendTo('#slideshow');
                },  6000);
        });
</script>
<div class="wrap" ng-controller="LoginRegController">
	<div id="slideshow" class="grey lighten-5">
        <div>
        	<h1>Welcome to Angular Message Board!</h1>
        </div>
        <div>
        	<h1>Here's a second message!</h1>
        </div>
        <div>
        	<h1>Finally, this is the third message!</h1>
        </div>
	</div>
	<div id="landing_page_bottomm_half" class="red darken-1">
		<div id="login_reg_left">
			<h5>Login</h5>
			<form ng-submit="login(user)">
				Username:<input type="text" ng-model="user.username">
				<br>
				Password:<input type="password" ng-model="user.password">
				<br>
				<input type="submit">
			</form>
		</div>
		<div id="login_reg_right">
			<h5>Register</h5>
			<form ng-submit="register(newUser)">
				Username:<input type="text" ng-model="newUser.username">
				<br>
				Password:<input type="password" ng-model="newUser.password">
				<br>
				Confirm Password:<input type="password" ng-model="newUser.confirmPassword">
				<br>
				<input type="submit">
			</form>
			<p>{{error}}</p>
		</div>
	</div>
</div>