table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}
.message{
    border: 1px solid black;
    margin: 10px 0px 10px 100px;
    width: 300px;
    height: 220px;
    overflow: auto; 
}

p{
    text-align: center;
}

h4{
    margin: 10px auto;
    padding: 3px;
    background-color: lightgrey;
    color: white;
    display: inline-block;
}

.border{
    border: 1px solid black;
}

.comment_form{
    margin-top: 5px;
    float: right;       
}

.edit_link{
    margin-left: 60%;
}

#slideshow, #landing_page_bottomm_half{
    height: 50%;
}

#slideshowContent{
    height: 300px;
}

.absolute{
    position: absolute;
}

#slideshow > div {
    position: absolute; 
    top: 10%; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;
}

#login_reg_left{
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

#login_reg_right{
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

header{
    width: 100%;
    height: 5%;
  
}

.landing_page_login_link, .landing_page_register_link{
    font-size: 3em;
    width: 80%;
    margin-left: 10%;
    margin-top: 13%;
    padding: 3%;
    background-color: #fafafa;
    color: #e53935 ;
    border: 1px solid grey;
    text-align: center;
}
